<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <button class="btn-add btn-1">
        <img src="./../../../../../../../assets/img/svg/google.svg" />
      </button>
    </div>
  </div>
  <div class="row btn-2-2">
    <div class="col d-flex justify-content-center">
      <button class="btn-add btn-2">Pay with bank</button>
    </div>
  </div>

  <div class="row spn-i">
    <div class="col d-flex justify-content-center">
      <button class="btn-add-tip">
        <span class="pay-card">Pay with card</span>
      </button>
    </div>
  </div>
</div>
