.container {
  margin-top: 72px;
}
.btn-add {
  width: 325px;
  height: 39px;
  border: none;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.986);
  border-radius: 10px;
}
.btn-1 {
}
.btn-2 {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-2-2 {
  margin-top: 22px;
}
.spn-i {
  margin-top: 20px;
}

.btn-add-tip {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.pay-card {
  font-size: 13px;
  text-decoration: underline;
  text-underline-offset: 9px;
}
