$animation-speed: 1s;
$background-color: #fff;
$card-color: darken($background-color, 45); //#616161;
$card-height: 120px;
$card-width: $card-height * 1.7;

.wrapper {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.card {
  background: linear-gradient($card-color, darken($card-color, 10));
  box-shadow: 0px 0px 30px 0px rgba(#000, 0.3);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $card-height;
  width: $card-width;
}

.cards {
  .face {
    @extend .card;
    position: relative;
    .head {
      display: flex;
      justify-content: space-between;
      margin: 16px 20px 0 16px;
      .title {
        font-weight: 600;
        color: #ffffff;
        font-size: 13px !important;
      }
    }
    .main {
      margin: 10px 10px 0 16px;
      .number-title {
        color: darken(#fff, 20);
      }
      .number {
        font-size: 14px !important;
        color: #ffe749;
      }
    }
    .dates {
      display: flex;
      max-width: 100px;
      justify-content: space-between;
      margin: 0px 0px 10px 16px;
      color: #ffe749;
      font-size: 10px;
      .start {
      }
      .end {
      }
    }
  }
}

.twitter-follow-button {
  top: 8px;
  left: 8px;
}

.number-title {
  font-size: 9px;
  color: #fff !important;
}
.number {
  font-size: 15px !important;
}
.start,
.end {
  font-size: 13px;
}
.title {
  font-size: 18px !important;
}

.delete {
  left: 90%;
  bottom: 79%;
  position: absolute;
}
