.container {
  width: 100%;
  width: 318px;
  height: 116px;
  margin-bottom: 31px;
}

.t {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
  border: 0.5px solid #0000002b !important;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
}

.img-logo {
  width: 80px;
  height: 80px;
}
.card-title {
  font-size: 17px;
}
.parag-pos {
  font-size: 12px;
}
.pos {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 450;
}
.pos::first-letter {
  text-transform: uppercase;
}
.h4 {
  padding-left: 8px;
  font-size: 17px;
}
.element-user {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  background: rgba(84, 98, 230, 0.18);
  transition: transform 0.2s ease-in-out;
}
.element-user:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.h2-info {
  font-size: 18px;
  padding-top: 20px;
}
.h3-info {
  font-size: 15px;
}

.h2-info,
.h3-info {
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}
.span-info {
  font-size: 12px;
  color: #3d3030;
  font-weight: 600;
}
.user-img {
  padding-top: 22px;
  width: 74px;
  height: 94px;
}

.span-no-data {
  text-align: center;
  font-size: 13px;
  padding-left: 80px;
  padding-right: 80px;
  color: #6a6a6a;
}
