.container {
  width: 100%;
  width: 318px;
  height: 116px;
}
.element-user {
  border-radius: 15px;
  background: rgba(84, 98, 230, 0.18);
}
.sec-info {
}

.row {
  margin-bottom: 31px;
}
.h2-info,
.h3-info {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.span-info {
}
