<div
  *ngIf="!data || data.length === 0"
  class="d-flex align-items-center justify-content-center vh-100"
>
  <span class="span-no-data text-center"
    >We apologize.An employee with that name does not work in our
    restaurant....</span
  >
</div>
<div *ngFor="let item of data" class="container element-user">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img class="user-img" alt="" src="assets/img/img/userMock.png" />
      </div>
      <div class="col sec-info">
        <h2 class="h2-info">{{ item.firstName }}</h2>
        <h3 class="h3-info">{{ item.lastName }}</h3>
        <span class="span-info">{{ item.email }}</span>
      </div>
    </div>
  </div>
</div>
