<div
  *ngIf="!data || data.length === 0"
  class="d-flex align-items-center justify-content-center vh-100"
>
  <span class="span-no-data text-center"
    >We apologize.An employee with that name does not work in our
    restaurant....</span
  >
</div>

<div *ngFor="let item of data" class="container">
  <div class="row content-card t" *ngFor="let item of data">
    <div class="" (click)="linkForUser(item)">
      <div class="d-flex flex-row">
        <div class="flex-grow-1">
          <div class="card-body">
            <div class="col-md d-flex">
              <h5 class="card-title">{{ item.firstName }}</h5>
              <h5 class="h4">{{ item.lastName }}</h5>
            </div>

            <p class="parag-pos">
              position:<span class="pos">{{ item.position }}</span>
            </p>
            <div class="row">
              <div class="col-md"></div>
            </div>
          </div>
        </div>
        <img src="{{ item.img }}" class="img-logo" alt="Изображение" />
      </div>
    </div>
  </div>
</div>
