.container {
  margin-left: 0px !important;
  margin-right: 0px !important;

  padding: 0px !important;

  width: 393px !important;
}
.col {
  margin: 0px;
  padding: 0px;
  max-width: 393px;
}
.footer-text {
  font-size: 12px;
  color: black;
  font-weight: 500;

  padding-bottom: 10px;
}
.col {
  max-width: 393px;
  padding: 0px !important;
  margin: 0px !important;
}
.row {
  max-width: 393px;
}

.footer {
  max-width: 393px;
  margin-top: 20px;
}
