.header {
  min-height: 90px;
  border-radius: 50px Im !important;
  padding: 0px;
}
.row {
  max-width: 393px;
}
.col {
  max-width: 393px;
}
.qr {
  position: relative;
  margin-top: 25px;
  margin-left: 30px;
}
.lang-but {
  position: relative;
  border-radius: 7px;

  width: 52px;
  height: 19px;
  margin-top: 28px;
  padding: 0px !important;
  padding: 0px;
  border: none;
}

.lang-but > img {
  position: absolute;
  left: 20px;
  top: 3px;
}
.col-3 {
  padding: 0px !important;
}
