.img-logo {
  width: 82px;
  height: 82px;
}
.p {
  font-size: 10px;
}
.card-title {
  font-weight: bold;
  font-size: 12px;
}
.sp {
  font-size: 8px;
}

.inpt {
  width: 90%;
}

.hr {
  margin-top: 5%;
}
.content {
  margin-top: 10%;
}
.content-card {
  margin-top: 1%;
}

.hr {
  width: 87%;
}

.btn-emp {
  background-color: #fbbf4b !important;
}
.btn-f {
  border-radius: 8px;
  background-color: transparent;
  border: 0.5px solid #000;
  font-size: 9px;
  padding: 5px 20px 5px 20px;
}
.btn-about {
  margin-left: 20px;
}
