<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row justify-content-center align-items-center">
    <img src="{{ data?.img }}" class="img-user" />
  </div>
  <div
    class="row justify-content-center align-items-center text-center inf-sec"
  >
    <h2 class="h2-inf">Leave a tip for</h2>
    <h3 class="h3-inf">{{ data?.firstName }}</h3>
    <h3 class="h1-inf">{{ data?.lastName }}</h3>
    <span class="span-inf">{{ data?.position }}</span>
  </div>

  <hr class="hr mx-auto text-center" />
</div>
