.container {
  background-color: #8fc9ff;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.lang-but {
  position: relative;
  border-radius: 7px;
  background: #fff;
  width: 52px;
  height: 19px;
  margin-top: 28px;
  padding-right: 0px !important;
  padding: 0px;
  border: none;
}
.col {
}
.row {
  padding: 0px;
}
.inf-sec {
  padding-bottom: 15px;
  padding-top: 20px;
}
.btn-img {
  padding-bottom: 6px;
}

.col {
  display: flex;
  justify-content: end !important;
  padding-right: 21px;
}
.img-user {
  width: 133px;
  height: 113px;
}
.h2-inf {
  font-size: 13px;
}
.h3-inf {
  font-size: 29px;
}
