<div class="container">
  <div class="row">
    <div class="col">
      <button class="lang-but ml-auto">
        <img
          src="./../../../../../../assets/img/svg/intenet.svg"
          class="btn-img"
        />
      </button>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <img
      src="./../../../../../../../assets/img/img/userBigMock.png"
      class="img-user"
    />
  </div>
  <div
    class="row justify-content-center align-items-center text-center inf-sec"
  >
    <h2 class="h2-inf">Leave a tip for</h2>
    <h3 class="h3-inf">{{ data.firstName }}</h3>
  </div>
</div>
