.span-i {
  font-size: 10px;
}

.l {
  width: 390px;
  margin: 0 auto;
}

.inpt-val {
  border-radius: 14px;
  width: 325px;
  height: 89px;
  position: relative;
  text-align: center;
}

.inpt-val::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #999;
}
.error-message {
  color: red;
  font-size: 10px;
}
