<div class="container">
  <div class="row">
    <div class="col-10">
      <input
        class="inpt-search"
        [(ngModel)]="searchTerms"
        placeholder="Employee Search"
        (input)="onInputChange()"
      />
    </div>
    <div class="col-2">
      <img
        class="search-Icon"
        src="./../../../../../../assets/img/svg/searchIcon.svg"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="span-content"
        >Choose the employee for whom you want to send tips</span
      >
    </div>
  </div>
</div>
