.container {
  margin-top: 31px;
  margin-bottom: 31px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box !important;
  width: 393px;
}
.row {
  margin: 0px;
  padding: 0px;
}
.col-10 {
  padding-right: 0px;
}
.inpt-search {
  width: 90%;
  height: 33px;
  margin-left: 30px;
  flex-shrink: 0;
  border-radius: 7px;
  background-color: transparent;
  padding-left: 5px;
  border: 1px solid #000;
}
.inpt-search::placeholder {
  color: #545454;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  line-height: normal;
}
.inpt-search:read-write {
  padding-left: 20px;
}

.span-content {
  color: #000;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  margin-left: 30px;
  font-weight: 400;
  line-height: normal;
}

.search-Icon {
  padding: 0px;
  width: 28px;
  height: 28px;
}
