<div class="container main-div">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <button (click)="handleClicktoStart()" class="header-btn">
            <span>food.</span>
          </button>
        </div>
    </div>

    <div class="row top-div d-flex justify-content-center">
      <div class="row">
        <h1 class="text-center">We try our best for you and your comfort</h1>
      </div>
    </div>

    <div class="row bottom-div d-flex justify-content-center">
        <div class="row">
          <h2 class="text-center">Dla Twojego komfortu sprawiliśmy, że zostawianie napiwków jest jeszcze łatwiejsze. Spróbuj i przekonaj się.</h2>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
          <button (click)="handleClicktoStart()" class="start-btn">
            <span>Get Started</span>
          </button>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="row">
          <p class="text-center footer_p">Zachodniopomorski UT</p>
        </div>
    </div>
</div>