.container {
  margin-top: 36px;
}

.btn {
  padding: 18px 29px 18px 29px;
  background-color: #f2c94d;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.col {
  padding: 0px;
}

.btn:active {
  background-color: #303030;
  color: #fff;
  border: none;
}
.selected {
  background-color: #303030;
  color: #fff;
  border: none;
}
.span {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.btn-span {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.t {
  margin-top: 21px;
}

.p {
  margin-left: 15px;
}
